.bannerDemo {
  width: 32%;
  height: 440px;
  border-radius: 20px;
  padding: 40px 40px;
  color: white;
  position: relative;
  overflow: hidden;
}
.bannerDemo h2 {
  z-index: 2;
}
.bannerDemo img {
  height: 36px;
}
.bannerDemo h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.bannerDemo p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  z-index: 10 !important;
}
.arrow {
  position: relative;
  top: 3px;
}
.bannerDemo .one {
  position: absolute;
  width: 109px;
  height: 50px;
  top: 30px;
  right: -20px;
  z-index: 1;
  border-radius: 56.5px;
}
.bannerDemo .two {
  position: absolute;
  width: 141px;
  height: 58px;
  bottom: 200px;
  left: -30px;
  border-radius: 37.5px;
  z-index: 1;
}
.bannerDemo .three {
  position: absolute;
  width: 218px;
  height: 62px;
  bottom: 40px;
  left: -20px;
  border-radius: 31.5px;
}
.bannerDemo .four {
  position: absolute;
  width: 141px;
  height: 83px;
  bottom: -30px;
  right: -30px;
  border-radius: 37.5px;
}
